// This is a theme file!

* {
  &:focus {
    outline: thin dashed currentColor;
    outline-offset: 0.4rem;

    // Remove outlines when tabbing.js is active and the user is not tabbing.
    .user-has-not-been-tabbing:not(.user-is-tabbing) & {
      outline: none;
    }
  }
}
